<!-- HTML Document Structure -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character encoding and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the webpage -->
    <title>Create a Post</title>
    <!-- External CSS files -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" href="/assets/favicon.ico">
    <!-- External libraries for icons and fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- External JavaScript file -->
    <script src="script.js"></script>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <!-- Forum title -->
        <div class="header-wrapper">
            <h1 class="forum-title"><%= forumName %></h1>
            <!-- Hamburger menu -->
            <div class="hamburger-menu" onclick="openNavigation()">
                <%- include('../includes/hamburger-svg') %>
            </div>
        </div>

        <!-- Navigation links -->
        <nav class="navigation">
            <div class="mobile-menu" id="menu-toggle">
                <a href="/">Home</a>
                <a href="/characters">Characters</a>
                <a href="/about">About</a>
                <a href="/posts">Forum</a>
                <a href="/createpost">Create Post</a>
                <a href="/contact">Contact Us</a>
                <%- include('../includes/navigation-svg') %>
            </div>

            <!-- Search bar -->
            <div class="search-container">
                <input class="character-search-input" id="searchInput" placeholder="Search Posts" type="text" value="">
                <button class="search-button"><i class="fas fa-search"></i></button>
            </div>
        </nav>

        <!-- Authentication links -->
        <div class="auth-links">
            <% if (userLoggedIn) { %>
            <!-- If user is logged in -->
            <span class="welcome-message">Welcome back, <%= username || '' %></span>
            <a href="/myaccount" class="account-link">
                <span class="desktop-text">My Account</span>
                <i class="mobile-icon fas fa-user-circle"></i>
            </a>
            <a href="/logout" class="logout-link" onclick="event.preventDefault(); showPopup('logoutPopup');">
                <span class="desktop-text">Logout</span>
                <i class="mobile-icon fas fa-sign-out-alt"></i>
            </a>
            <% } else { %>
            <!-- If user is not logged in -->
            <a href="/login" class="login-link">
                <span class="desktop-text">Login</span>
                <i class="mobile-icon fas fa-sign-in-alt"></i>
            </a>
            <a href="/register" class="register-link">
                <span class="desktop-text">Sign Up</span>
                <i class="mobile-icon fas fa-user-plus"></i>
            </a>
            <% } %>
        </div>

        <!-- Logout Confirmation Popup -->
        <div id="logoutPopup" class="message-popup" style="display: none;">
            <div class="popup-content">
                <span class="close-btn" onclick="closePopup('logoutPopup')">&times;</span>
                <p>Are you sure you want to logout?</p>
                <button onclick="confirmLogout()">Yes, logout</button>
                <button onclick="closePopup('logoutPopup')">Cancel</button>
            </div>
        </div>

    </div>

    <!-- Hero Banner Section -->
    <section class="hero-image short-hero">
    </section>

    <!-- Main Content Section -->
    <div class="character-content">
        <h3>Create a Post</h3>
        <div class="character-content-wrapper">
            <form action="/createPost" method="post" enctype="multipart/form-data">
                <label for="title">Title*:</label>
                <input type="text" id="title" name="title" required>
                <label for="tag">Tag*:</label>
                <select id="tag" name="tag" class="select-style" required>
                    <option value="">--- Select tag ---</option>
                    <option value="Discussion">Discussion</option>
                    <option value="Fan Art">Fan Art</option>
                    <option value="Gameplay Tips">Gameplay Tips</option>
                    <option value="Events">Events</option>
                    <option value="Team Building">Team Building</option>
                </select><br><br>
                <label for="thumbnail">Upload Post Thumbnail*:</label>
                <br>
                <input type="file" id="thumbnail" name="thumbnail" aria-label="Input for Image" accept=".png, .jpg, .webp" required>
                <br>
                <label for="description">Content*:</label>
                <br>
                <textarea id="description" name="description" rows="20" cols="50" required></textarea>
                <button type="submit">Submit Post</button>
            </form>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer character-footer">
        <div>
            <!-- Forum name -->
            <h3><%= forumName %></h3>
            <!-- Disclaimer -->
            <p class="info">Genshin Impact™ is a registered trademark of HoYoverse Co., Ltd. This site is not affiliated with or endorsed by HoYoverse. Images and data © HoYoverse Co., Ltd.</p>
        </div>
        <div>
            <!-- Contact information -->
            <h3>Reach out</h3>
            <p>teyvattales@gmail.com</p>
            <!-- Social media links -->
            <div class="social-links-horizontal">
                <a href="https://www.youtube.com/c/GenshinImpact" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/GenshinImpact" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/genshinimpact" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.reddit.com/r/Genshin_Impact/" class="social-icon" target="_blank"><i class="fab fa-reddit"></i></a>
            </div>
        </div>
        <div>
        <!-- Links -->
        <h3>Helpful Resources</h3>
        <a href="characters">Characters</a>
        <br>
        <a href="about">About</a>
        <br>
        <a href="posts">Forum</a>
        <br>
        <a href="contact">Contact Us</a>
        </div>
    </footer>
</body>

</html>