<!-- HTML Document Structure -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character encoding and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the webpage -->
    <title>Login</title>
    <!-- External CSS files -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" href="/assets/favicon.ico">
    <!-- External libraries for icons and fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- External JavaScript file -->
    <script src="script.js"></script>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <!-- Forum title -->
        <div class="header-wrapper">
            <h1 class="forum-title"><%= forumName %></h1>
            <!-- Hamburger menu -->
            <div class="hamburger-menu" onclick="openNavigation()" aria-label="Toggle navigation menu">
                <%- include('../includes/hamburger-svg') %>
            </div>
        </div>

        <!-- Navigation links -->
        <nav class="navigation">
            <div class="mobile-menu" id="menu-toggle" aria-label="Main navigation menu">
                <a href="/" aria-label="Home">Home</a>
                <a href="/characters" aria-label="Characters">Characters</a>
                <a href="/about" aria-label="About">About</a>
                <a href="/posts" aria-label="Forum">Forum</a>
                <a href="/createpost" aria-label="Create Post">Create Post</a>
                <a href="/contact" aria-label="Contact Us">Contact Us</a>
                <%- include('../includes/navigation-svg') %>
            </div>

            <!-- Search bar -->
            <div class="search-container" aria-label="Search bar">
                <input class="character-search-input" id="searchInput" placeholder="Search Posts" type="text" value="">
                <button class="search-button" aria-label="Search"><i class="fas fa-search"></i></button>
            </div>
        </nav>
    </div>

    <!-- Hero Banner Section -->
    <section class="hero-image short-hero" aria-label="Hero Banner">
    </section>

    <!-- Main Content Section -->
    <div class="character-content">
        <h3>Login</h3>
        <div class="character-content-wrapper">
            <form action="/login" method="post">
                <label for="title">Username*</label>
                <input id="username" type="text" name="username" placeholder="Username" required aria-label="Username">
                <label for="title">Password*</label>
                <input id="password" type="password" name="password" placeholder="Password" required aria-label="Password">

                <button type="submit">Login</button>
            </form>

            <span class="signup">Don't have an account?
                <a href="/register" aria-label="Register">Register here</a></span>

            <!-- Message Popup -->
            <div id="errorPopup" class="message-popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup('errorPopup')" aria-label="Close">&times;</span>
                    <% if (errorMessage) { %>
                    <p>
                        <%= errorMessage %>
                    </p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer character-footer">
        <div>
            <!-- Forum name -->
            <h3><%= forumName %></h3>
            <!-- Disclaimer -->
            <p class="info">Genshin Impact™ is a registered trademark of HoYoverse Co., Ltd. This site is not affiliated with or endorsed by HoYoverse. Images and data © HoYoverse Co., Ltd.</p>
        </div>
        <div>
            <!-- Contact information -->
            <h3>Reach out</h3>
            <p>teyvattales@gmail.com</p>
            <!-- Social media links -->
            <div class="social-links-horizontal">
                <a href="https://www.youtube.com/c/GenshinImpact" class="social-icon" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/GenshinImpact" class="social-icon" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/genshinimpact" class="social-icon" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.reddit.com/r/Genshin_Impact/" class="social-icon" target="_blank" aria-label="Reddit"><i class="fab fa-reddit"></i></a>
            </div>
        </div>
        <div>
        <!-- Links -->
        <h3>Helpful Resources</h3>
        <a href="characters" aria-label="Characters">Characters</a>
        <br>
        <a href="about" aria-label="About">About</a>
        <br>
        <a href="posts" aria-label="Forum">Forum</a>
        <br>
        <a href="contact" aria-label="Contact Us">Contact Us</a>
        </div>
    </footer>
</body>

</html>